<p>Pendant tes jours de repos physique nous te proposons de travailler ta technique au travers de challenges !! Qui plus est, nous te proposons de te filmer et de partager les vidéos afin de te mettre en concurrence saine avec tes coéquipiers.  Pour cela n’hésite pas à t’inscrire en envoyant ton nom à Benjamin, L’un des coachs, au 0761108966 qui t’enverra le challenge, ainsi que les règles pour le mener à bien ! 
4 challenges sont prévus les semaines du :</p>
<ul>
    <li>20 Juillet 2020</li>
    <li>27 juillet 2020</li>
    <li>03 Août 2020</li>
    <li>10 Août 2020</li>
</ul>
<p>Inscription avant le samedi 18 Juillet ! Seuls les meilleurs vidéos seront publiées !</p>