<br />
<div class="text"><strong>
    <h1>Pendant tes jours de repos physique :</h1>
</strong>
<br />
<p>Nous te proposons de travailler ta technique au travers de défis. Qui plus est, nous te proposons de te filmer et de partager les vidéos afin de te mettre en concurrence saine avec tes coéquipiers.  Rien de plus simple avant le vendredi de la semaine en cours envoie sur WhatsApp ton prénom et ta vidéo à Benjamin, L'un des coachs, au 0761108966. Les meilleurs vidéos seront postées le samedi !</p>
<li>Semaine du 27 juillet 2020</li>
<p>Nous sommes lundi 27 et tu as maintenant 5 jours et pas un de plus pour nous proposer ton plus beau combo de jonglages ! 
A vos ballons.</p>
<iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/XyS6WoT1Tq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li>Semaine du 03 août 2020</li>
<p>Nous sommes Lundi 03 Aout, et c’est parti pour le second chalenge technique : Tu as maintenant 5 jours  et pas un de plus pour nous proposer un Stayathomechallenge !! L’idée est simple prend un rouleau de papier toilettes, jongle avec et surtout fini par une frappe cadrée dans la cible de ton choix. </p>
<iframe  class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/0_iinE5raNA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li>Semaine du 10 août 2020</li>
<p>Nous sommes Lundi 10 Aout, et c’est parti pour le troisième chalenge technique : Tu as maintenant 5 jours et pas un de plus pour apprendre et réaliser l’un de ces deux dribbles d’anthologie !</p>
<iframe  class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/L6kRn4YDvHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br />
<iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/2WE_hB5d0xw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>