<div class="main-content">
<div class="text"><strong>
    <h1>Préparation physique</h1>
</strong>
<br />
<p>
Objectif : Prépa pré-saison <br />
Afin de préparer au mieux la saison prochaine, nous proposons aux joueurs qui le souhaitent de se remettre en forme progressivement,<br /> de remettre son corps dans une dynamique sportive adaptée afin que la reprise futsallistique ne soit pas entravée par le manque d’activité sportive que nous avons connus ces derniers mois notamment à cause du COVID 19.<br/>
Pour cela nous vous proposons quelques exercices de remises de forme au travers d’un calendrier mais aussi quelques conseils d’hygiène de vie pour ceux qui souhaitent perdre quelques kg de masse graisseuse. <br />
Pour rappel, nous ne sommes qu’un club bénévole, familiale, et n’obligeons en aucun cas les licenciés à suivre ce qui suit. Cela se fait sur la base du volontariat. <br /> Le plaisir d’être ensemble et de passer de bons moments collectifs passera par les victoires ! <strong>Forza le FCS !!!</strong><br/>
</p>
Calendrier de remise en forme : <br />
Chaque séance doit être terminée par une séance d’étirements ! Nous y tenons, cela est important. N’oubliez pas : 
<br />
<li>Un muscle bien étiré est un muscle qui réagit mieux aux efforts et est donc plus performant</li>
<li>Un muscle bien étiré est un muscle qui récupère mieux </li>
<li>Un muscle bien étiré est un muscle qui se blesse moins</li>
<br />
Exemple (non exhaustif) : <br /><br />
<img 
    src="./assets/images/etirements.jpg"
    width=350px;
/>
<br />
<br />
<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Semaine 1 ( 27/07/2020 - 02/08/2020 )</mat-expansion-panel-header>
      <br />
      <h1>Semaine du 27 Juillet 2020</h1>
      <p>Mardi, vendredi, samedi et dimanche : repos<br />
      Lundi, mercredi et jeudi : Footing 30 min puis circuit training.<br /><br />
      <strong>Travail des Pectoraux, Triceps brachial:</strong><br /></p>
      <ul>
        <li>Séquence de 20 pompes avec toutes les 5 pompes </li>
        Maintien en position basse 5 secondes <br /> <br />
        <li>Etirements </li>
      </ul>   
      <br />
      A répéter 3 fois.
      <br />
        <img 
        src="./assets/images/pompes.png"
        class="imgprepa"
        width=350px;
        />
    <br />
    <br />
    <strong> Travail des abdominaux (obliques et grand droit):</strong>
    <ul>
    <li>3 fois 1 min de gainage avec 30 secondes de pause entre chaque</li>
    <li>3 x 20 crunch</li>
    <li>3 fois 1 min de gainage en « tour du monde » avec 30 secondes de pause entre chaque</li>
    </ul>
<br />
A répéter 2 fois.<br />
    <img 
        src="./assets/images/abdos.jpg"
        class="imgprepa"
        width=350px;
    />

    <img 
        src="./assets/images/abdos2.jpg"        
        class="imgprepa"
        width=350px;
    />

<br />
<br />
<strong>Travail des quadriceps (pour l’explosivité !)</strong><br />
Position de départ : debout pied largeur des épaules
<ul>
<li>10 fentes avant pied droit (on revient à chaque fois à la position de départ)</li>
<li>10 fentes avant pied gauche</li>
<li>10 squats (jambes à 90°)</li>
<li>10 fentes arrière pied droit </li>
<li>10 fentes arrière pied gauche</li>
<li>10 squats</li>
</ul>
<img 
    src="./assets/images/quadri.jpg"
    class="imgprepa"
    width=350px;
/>
<br />
Etirements et hydratation à volonté ! <br />
<strong>Bravo belle séance !</strong>

    </mat-expansion-panel>
  </mat-accordion>
    <mat-accordion>
        <br />
        <hr>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Semaine 2 ( 03/08/2020 - 09/08/2020 )</mat-expansion-panel-header>
      <br />
      <h1>Semaine du 03 Août 2020 (1 séance de plus et commencement du fractionné)</h1>
      <p>Mardi, jeudi et samedi : repos<br />
      Lundi, mercredi, vendredi et dimanche : Footing 25 min suivi sans interruption de fractionné 5 fois 30 sec à 80% et 30 sec tranquille (vous devez donc finir votre footing à 30 minutes) puis circuit training.<br /><br /></p>
      <strong>Travail des Pectoraux, Triceps brachial :</strong>
      <ul>
        <li> Séquence de 20 pompes avec toutes les 5 pompes </li>
      Maintien en position basse 5 secondes <br /> <br />
        <li>Etirements</li>
        </ul>
        <br />
      A répéter 3 fois !
      <img 
      src="./assets/images/pompes.png"
      class="imgprepa"
      width=350px;
      />
      <br />
      <br />
      <strong> Travail des abdominaux (obliques et grand droit):</strong>
      <ul>
      <li>4 fois 1 min de gainage avec 30 secondes de pause entre chaque</li>
      <li>3 x 30 crunch</li>
      </ul>
      <br />
      A répéter 2 fois ! 
      <br/>
    <img 
        src="./assets/images/abdos.jpg"
        class="imgprepa"
        width=350px;
    />
      
    <img 
        src="./assets/images/abdos2.jpg"
        class="imgprepa"
        width=350px;
    />
      
      
    <br />
    <strong>Travail des quadriceps (pour l’explosivité !)</strong><br /><br />
      Position de départ : debout pied largeur des épaules
    <ul>
    <li>15 fentes avant pied droit (on revient à chaque fois à la position de départ)</li>
    <li>15 fentes avant pied gauche</li>
    <li>Chaise contre mur pendant 1 minute (jambe à 90° et sans appui des mains !)</li>
    <li>15 fentes arrière pied droit </li>
    <li>15 fentes arrière pied gauche</li>
    <li>Chaise contre mur pendant 1 minute</li>
    </ul>
      A répéter 2 fois !
      <br />
      <br />
        <img 
            src="./assets/images/quadri.jpg"
            class="imgprepa"
            width=350px;
        />
    <br />
      Etirements et hydratation à volonté ! 
      <strong>Bravo belle séance !</strong>
      
      
    </mat-expansion-panel>
  </mat-accordion>


    <br />
    <hr>
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0" >
          <mat-expansion-panel-header class="panel">Semaine 3 ( 10/08/2020 - 16/08/2020 )</mat-expansion-panel-header>
          <br />
          <h1>Semaine du 10 Août 2020 (on intensifie le cardio !)</h1>
          <p> Mardi, vendredi et dimanche : Repos<br />
          Lundi, mercredi, jeudi et samedi : Footing 30 min suivi sans interruption de fractionné 5 fois 45 sec à  100 % et 30 sec tranquille (vous devez donc finir votre footing à 37.30 minutes) puis circuit training.</p>
          
        <strong>Travail cardio : l’idée est d’enchainer rapidement les exercices</strong> 
        <ul><li>15 Burpees</li>
        <li>1 minute de chaise</li>
        <li>1 minute de gainage</li>
        <li>15 Burpees</li>
        <li>20 Squats</li>
        <li>30 Crunch</li>
        <li>2 minutes de repos puis à répéter 3 fois !!</li>
        </ul>  
        <br />
        <img 
        src="./assets/images/burpees.jpg"
        class="imgprepa"
        width=350px;
    />
        <br />
        Etirements et hydratation à volonté ! <br />
        <strong>Bravo belle séance !</strong>  
          
          
          
          
          
        </mat-expansion-panel>
      </mat-accordion>
</div>