<br />
<div class="text"><strong>
    <h1>Bienvenue à tous les licenciés du Futsal Club Sucéen !</h1>
</strong>
<br />
<p>Le début de saison 2020-2021 commence bientôt et il nous semblait important de développer un outil pédagogique vous permettant d’accéder, à votre guise et sans obligation, à un ensemble de données vous permettant de travailler individuellement et collectivement toute l’année ! 
    <br />
    <br />
Nous vous présentons donc la plate-forme du FCS ! 
<br />
<br />
Tu y trouveras des conseils alimentaires, un programme complet de remise en forme pré-saison, les calendriers, mais aussi et surtout toutes les tactiques que nous verrons ensemble durant l’année ! un bon moyen de réviser et d’être au top le jour des matchs !</p>
<video controls>
    <source src="./assets/images/logo.mp4" type="video/mp4">
    <source src="./assets/images/logo.webm" type="video/webm">
  </video>