<div class="main-content">
    <h1>Les corners</h1>
<br />
<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Corners Attaque</mat-expansion-panel-header>
<video controls>
    <source src="./assets/images/corners-attaque.mp4" type="video/mp4">
    <source src="./assets/images/corners-attaque.webm" type="video/webm">
  </video>
</mat-expansion-panel>

<mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header class="panel">Corners Défense</mat-expansion-panel-header>
<video controls>
  <source src="./assets/images/corners-defense.mp4" type="video/mp4">
  <source src="./assets/images/corners-defense.webm" type="video/webm">
</video>
</mat-expansion-panel>
</mat-accordion>
</div>