<div class="main-content">
<h1>Les lois du jeu</h1>
<br />
<strong>TERRAIN :</strong>
<p>Le futsal se joue sur un terrain disposant d’un marquage, et le ballon peut sortir en touche.<br />

<strong>LA RÈGLE DES QUATRE SECONDES :</strong>
Pour les rentrées de touche, les coups francs, les dégagements et les coups de pied de coin, l’exécutant a quatre secondes pour relancer le jeu, que les arbitres décomptent avec leurs doigts, le bras tendu en l’air. Si le jeu ne reprend pas dans les quatre secondes, un coup franc indirect est accordé à l’équipe adverse. Les gardiens ne doivent pas rester en possession du ballon plus de quatre secondes dans leur propre moitié de terrain.
<br />
<strong>RÈGLE DES CINQ MÈTRES :</strong>
Les joueurs adverses doivent se tenir à au moins cinq mètres du joueur en possession du ballon lors des coups francs, des coups de pied de coin, des dégagements, des rentrées de touche et des coups de pied de réparation.
<br />
<br />
<strong>GARDIENS :</strong>
Les gardiens peuvent quitter leur surface et des joueurs peuvent se rendre dans la surface de réparation. Les dégagements ont lieu depuis la surface de réparation et le gardien ne peut pas toucher à nouveau le ballon avant qu’il ait franchi la ligne médiane ou qu’un adversaire l’ait touché.
<br />
<br />
<strong>FAUTES CUMULÉES :</strong>
Chaque équipe peut concéder cinq coups francs lors de chaque mi-temps. A la sixième faute cumulée, un coup franc direct est accordé à l’équipe adverse et l’équipe défendante n’est pas autorisée à positionner des joueurs (autres que le gardien) entre le ballon et le but. Le tir peut être effectué à partir du point de réparation des 10 m ou, si la faute a été commise plus proche du but, à partir de l’endroit où la faute a été commise.
<br />
<br />
<strong>TEMPS MORT :</strong>
Chaque équipe a droit à un temps mort de 60 secondes lors de chaque mi-temps.
<br />
<br />
<strong>TEMPS EFFECTIF :</strong>
Un match de futsal se compose de deux périodes de 20 minutes chacune, disputées au temps effectif, c’est-à-dire que le chronomètre s’arrête lorsque le ballon sort du terrain.
<br />
<br />
<strong>TACLES :</strong>
Les tacles ne sont pas autorisés en futsal, mais les joueurs sont autorisés à glisser sur le terrain, par exemple pour empêcher le ballon de sortir. Pour qu’un tel glissement soit considéré comme une faute, l’adversaire du joueur qui fait le tacle doit être en possession du ballon. Les arbitres ne sifflent pas de faute sur un glissement si l’adversaire n’est pas en possession du ballon.
<br />
<br />
<strong>CARTONS ROUGES :</strong>
Si un joueur est expulsé, son équipe doit jouer à quatre pendant deux minutes, sauf si l’équipe adverse marque un but avant que les deux minutes ne se soient écoulées.
Il s’agit d’un élément fondamental du jeu ; il est officiellement plus petit, plus lourd et il rebondit moins qu’un ballon de football classique.
<br />
<br />
<strong>REMPLACEMENTS ILLIMITÉS :</strong>
Jusqu’à 14 joueurs peuvent être utilisés au cours d’un match, et il n’y a pas de limite quant au temps passé par un joueur sur le terrain ou sur le banc. Les joueurs doivent entrer sur le terrain et le quitter en traversant la zone de remplacement marquée à cet effet, en face des bancs des remplaçants.
<br />
<br />
<strong>RENTRÉES DE TOUCHE :</strong>
Pour reprendre le jeu lorsque le ballon a franchi la ligne de touche, la rentrée de touche se fait au pied depuis la ligne de touche ou depuis l’arc de cercle de coin. Le ballon doit être immobile sur la ligne de touche et les pieds de l’exécutant ne doivent pas franchir la ligne.
</p></div>