
<div class="content" role="main">
    <br />
    <div class="row">
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-eau.jpg"
            />
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-gras.jpg"
            />
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-sucre.jpg"
            />
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-remplace.jpg"
            />
          </div>
        </div>
      </div>

      <br /> 
      <div class="row">
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-banane.jpg"
            />
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-sucre2.jpg"
            />
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-sucre3.jpg"
            />
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img
            width="300px"
            src="./assets/images/aliment-sucre4.jpg"
            />
          </div>
        </div>
      </div>
      <br />
    Conseils nutritionnels :
        En Parallèle, voici quelques règles alimentaires simples, sans parler régime, qui te permettront de perdre un peu de poids et de mieux supporter les efforts.
    <ul>
        <li>	Boire au moins 1,5 L d’eau par jour (hydrate et diminuera les éventuelles sensations de faim)</li>
        <li>	Le midi mélanger toujours féculents et légumes (riz courgettes ou pates haricot vert par exemple… attention le pain, le maïs sont des féculents…</li>
        <li>	Le soir favoriser seulement les légumes et les viandes maigres (dinde, poulet, jambon, rôti de porc, poisson…)</li>
        <li>	Ne pas manger entre les repas ou seulement quelques fruits, compotes </li>
        <li>	Diminuer un peu tes portions habituelles</li>
        <li>	Un verre de vin est moins calorique qu’une bière, ou une bière classique (33, kro, heinek) est moins calorique qu’une bière arrangé (skoll, despé….)</li>
        <li>    Favorise les condiments allégés, ou sans sucre ou 0% (compote, beurre, yaourt, coca…)</li>
        <li>    Pour finir, évite de cuire tes aliments dans une poêle graissée au beurre ou à l’huile, et évite les sauces !</li>
    </ul>

</div>