<br />
<div class="main-content">
  <nav>
    <div style="text-align: center;"><a class="" routerLink="/home"><img
    width="145" 
    src="./assets/images/logo.png"
    /></a></div>
    <hr>
    <a class="button" routerLink="/home">Accueil</a>
    <hr>
    <a class="button" routerLink="/sommaire">Sommaire</a>
   <hr>
   <a class="button" routerLink="/intro">Intro</a>   
   <hr>
   <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Informations</mat-expansion-panel-header>
      <br />
      <a class="button-wrapInfo" routerLink="/presaison">Calendrier pré-saison</a>
        <br />
        <br />
      <a class="button-wrapInfo" routerLink="/calendrier">Calendrier saison 2020-2021</a>
    </mat-expansion-panel>
  </mat-accordion>
    <hr>
    <a class="button" routerLink="/alimentation">Alimentation</a>
    <hr>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0" >
        <mat-expansion-panel-header class="panel">Entrainement</mat-expansion-panel-header>
        <br />
        <a class="button-wrap" routerLink="/entrainement">Préparation physique</a>
          <br />
          <br />
          <a class="button-wrap" routerLink="/defis-technique">Defis technique</a>
      </mat-expansion-panel>
    </mat-accordion>
   <hr>

   <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Tactique</mat-expansion-panel-header>
      <br />
      <a class="button-wrapInfo" routerLink="/attaque">Attaques placées</a>
      <br />      
      <a class="button-wrapInfo" routerLink="/defense">Défense</a>
      <br />       
      <a class="button-wrapInfo" routerLink="/corners">Corners</a>
      <br />       
      <a class="button-wrapInfo" routerLink="/coups-francs">Coups-francs</a>
     <br />       
      <a class="button-wrapInfo" routerLink="/touches">Touches</a>
      <br />       
      <a class="button-wrapInfo" routerLink="/presse">Sorti de presse</a>
    </mat-expansion-panel>
  </mat-accordion>
   <hr>
   <a class="button" routerLink="/revisions">Revisions</a>
  </nav>
</div>