<br />
<div class="main-content">
<a class="button" routerLink="/home">Accueil</a>
      <br />
      <hr>
      <br />
     <a class="button" routerLink="/sommaire">Sommaire</a>
     <br />
     <hr>
     <br />
     <a class="button" routerLink="/intro">Intro</a>   
     <br />
     <hr>
     <br />
      <a class="button" routerLink="/informations">Informations</a>
      <br />
      <hr>
      <br />
      <a class="button" routerLink="/alimentation">Alimentation</a>
      <br />
      <hr>
      <br />
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0" >
          <mat-expansion-panel-header>Entrainement</mat-expansion-panel-header>
          <br />
          <a class="button-wrap" routerLink="/entrainement">Entrainement</a>
            <br />
            <br />
            <a class="button-wrap" routerLink="/tactique">Tactique</a>
            </mat-expansion-panel>
      </mat-accordion>
</div>