<div class="main-content">
    <h1>Les tactiques</h1>
<br />
<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Tactique</mat-expansion-panel-header>
      <br />
      <a class="button-wrapInfo" routerLink="/attaque">Attaques placées</a>
      <br />      
      <a class="button-wrapInfo" routerLink="/defense">Défense</a>
      <br />       
      <a class="button-wrapInfo" routerLink="/corners">Corners</a>
      <br />       
      <a class="button-wrapInfo" routerLink="/coups-francs">Coups-francs</a>
     <br />       
      <a class="button-wrapInfo" routerLink="/touches">Touches</a>
      <br />       
      <a class="button-wrapInfo" routerLink="/presse">Sorti de presse</a>
    </mat-expansion-panel>
  </mat-accordion>