  <br />
<!-- 1st row verticaly centered text in the square columns -->

<div class="square bg img1">
    <div class="content numbers">              
      <img src="./assets/images/logo.png" class="imghome1" >
  </div>
</div>


<div class="square bg img6">
  <div class="content numbers">  
    <a class="button" routerLink="/intro">       
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
      </div>
    </a>
  </div>

</div>


<div class="square bg img1">
  <div class="content numbers">              
    <a class="button" routerLink="/sommaire">
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
    </div>
  </a>
  </div>
</div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square bg img8">
  <div class="content numbers">              
    <a class="button" routerLink="/lois">
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
    </div>
  </a>
  </div>
</div>

<div class="square bg img3">
  <div class="content numbers">              
    <a class="button" routerLink="/informations">
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
      </div>
    </a>
  </div>
</div>

<div class="square bg img2">
  <div class="content">
    <a class="button" routerLink="/alimentation">
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
      </div>
    </a>
  </div>
</div>


<!-- 3rd row responsive images in background with centered content -->
<a class="button" routerLink="/revisions"> 
<div class="square bg img5">
  <div class="content numbers">   
              
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
      </div>

  </div>
</div>
</a>
<div class="square bg img4">
  <div class="content numbers">              
    <a class="button" routerLink="/entrainement">
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
    </div>
  </a>
  </div>
</div>

<div class="square bg img7">
  <div class="content numbers">              
    <a class="button" routerLink="/tactique">
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
    </div>
  </a>
  </div>
</div>

<div class="square bg img10">
  <div class="content numbers">              
    <a class="button" routerLink="/revisions">
      <div class="bg">
        <img src="./assets/images/logo.png" class="imghome" >
    </div>
  </a>
  </div>
</div>