<div class="main-content">
    <h1>Les attaques placées</h1>
<br />
<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Attaque Sommaire</mat-expansion-panel-header>
<video controls>
    <source src="./assets/images/attaque-1.mp4" type="video/mp4">
    <source src="./assets/images/attaque-1.webm" type="video/webm">
  </video>
</mat-expansion-panel>
<mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header class="panel">Attaque Deuxième Étape</mat-expansion-panel-header>
<video controls>
  <source src="./assets/images/attaque-2.mp4" type="video/mp4">
  <source src="./assets/images/attaque-2.webm" type="video/webm">
</video>
</mat-expansion-panel>
<mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header class="panel">Attaque Troisième Étape</mat-expansion-panel-header>
<video controls>
  <source src="./assets/images/attaque-3.mp4" type="video/mp4">
  <source src="./assets/images/attaque-3.webm" type="video/webm">
</video>
</mat-expansion-panel>
<mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header class="panel">Attaque Quatrième Étape</mat-expansion-panel-header>
<video controls>
  <source src="./assets/images/attaque-4.mp4" type="video/mp4">
  <source src="./assets/images/attaque-4.webm" type="video/webm">
</video>
</mat-expansion-panel>
<mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header class="panel">Attaque Cinquième Étape</mat-expansion-panel-header>
<video controls>
  <source src="./assets/images/attaque-5.mp4" type="video/mp4">
  <source src="./assets/images/attaque-5.webm" type="video/webm">
</video>
</mat-expansion-panel>
<mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header class="panel">Attaque Dernière Étape</mat-expansion-panel-header>
<video controls>
  <source src="./assets/images/attaque-6.mp4" type="video/mp4">
  <source src="./assets/images/attaque-6.webm" type="video/webm">
</video>
</mat-expansion-panel>
</mat-accordion>
</div>