<div class="main-content">
    <h1>La défense</h1>
<br />
<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header class="panel">Défense Sommaire</mat-expansion-panel-header>
<video controls>
    <source src="./assets/images/defense-1.mp4" type="video/mp4">
    <source src="./assets/images/defense-1.webm" type="video/webm">
  </video>
</mat-expansion-panel>

<mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header class="panel">Défense Deuxième Étape</mat-expansion-panel-header>
<video controls>
  <source src="./assets/images/defense-2.mp4" type="video/mp4">
  <source src="./assets/images/defense-2.webm" type="video/webm">
</video>
</mat-expansion-panel>
</mat-accordion>
</div>